.container-content {
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7rem 12rem;
  color: white;
  .container-content-data {
    .data-hour {
      font-size: 5rem;
      margin-bottom: 12px;
      .system-hour {
        font-size: 16px;
      }
    }
  }

  .container-values {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 40%;
    gap: 1rem;

    .container-btn-inpt {
      display: flex;
      flex-direction: row;

      > input,
      > button {
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(46, 117, 183, 1);
        color: white;

        outline: none;
        text-align: center;
      }

      > input {
        padding: 10px 24px;
        border-radius: 8px 0 0 8px;
        border-right: none !important;
      }

      > input::placeholder {
        color: white;

        font-size: 10px;
        font-weight: bold;
      }

      > button {
        border-radius: 0 8px 8px 0;
        border-left: none !important;
      }

      > button:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    .city-name {
      font-size: 3rem;
    }

    .country-name {
      font-size: 1.5rem;
    }
  }
}
